@model OfficeMvcApi.Additional

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Additional</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.RentSpace, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RentSpace)
                @Html.ValidationMessageFor(model => model.RentSpace)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Equipments, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Equipments)
                @Html.ValidationMessageFor(model => model.Equipments)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Month, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Month)
                @Html.ValidationMessageFor(model => model.Month)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TotalAdditional, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TotalAdditional)
                @Html.ValidationMessageFor(model => model.TotalAdditional)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
