@model OfficeMvcApi.Bill

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Bill</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Electricity, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Electricity)
                @Html.ValidationMessageFor(model => model.Electricity)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Water, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Water)
                @Html.ValidationMessageFor(model => model.Water)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Lunch, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Lunch)
                @Html.ValidationMessageFor(model => model.Lunch)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Month, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Month)
                @Html.ValidationMessageFor(model => model.Month)
            </div>
        </div>
    

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
