@model IEnumerable<OfficeMvcApi.Employee>

@{
    ViewBag.Title = "Index";
}

<h2>Employees List</h2>

<p>
    @Html.ActionLink("Create New Employee", "Create", new { id = 1 }, new { @class = "btn btn-primary btn-large" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Position)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalSalary)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {

  // item.TotalSalary = @Model.Sum(i => i.Salary);
  // int c =Convert.ToInt32( item.TotalSalary);
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Salary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Position)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalSalary)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary btn-large" }) 
            @Html.ActionLink("Details", "Details", new { id=item.Id },new { @class = "btn btn-primary btn-large" }) 
            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-primary btn-large" })
        </td>
    </tr>

}

</table>
